.redacted {
  background-color: #CCC !important;
  color: #CCC !important;
}

.redacted2 {
  background-color: #99F !important;
  color: #99F !important;
}

.redacted3 {
  background-color: #66A !important;
  color: #66A !important;
}

body {
  color: #333;
  background-color: #FFC;
}

input,
button {
  color: #333;
}

.panel {
  border-color: #BBB;
  background-color: #EEE;
}

.panelTitle {
  border-color: #BBB;
  background-color: #66F;
}

.panel input {
  border-color: #BBB;
}

#listHeaderDiv {
  border-top-color: #CCC;
  border-bottom-color: #333;
  background-color: #99F;
}

#listHeaderDiv > label {
  border-color: #CCC;
}

.underlying {
  border-top-color: #777;
  border-bottom-color: #333;
  background-color: #66A;
  color: #EEE;
}

.option {
  border-color: #CCC;
}

.option > .odd {
  background-color: #EEE;
}

.option > .even {
  background-color: #DDD;
}