.redacted {
/*  background-color: #CCC;
  color: #CCC;
*/}

body {
  color: #333;
  background-color: #FFC;
}

input,
button {
  color: #333;
}

.panel {
  border-color: #BBB;
  background-color: #EEE;
}

.panelTitle {
  border-color: #BBB;
  background-color: #66F;
}

.panel input {
  border-color: #BBB;
}

.labelGroup,
#listLabelsDiv {
  border-color: #BBB;
}

.listRow {
  border-color: #BBB;
}