body {
  font-size: 9pt;
  margin: 0 auto;
  max-width: 80em;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  text-align: center;
}

.panel {
  font-size: 1em;
  display: grid;
  margin-bottom: 1.5em;
  border: 1px solid;
  padding: 0 .5em .5em .5em;
  grid-gap: .5em;
}

.panelTitle {
  font-size: 1em;
  margin: 0 -.5em;
  padding: .2em .5em;
  border-bottom: 1px solid;
}

.panelGrid {
  display: grid;
  grid-gap: .5em;
}

.panel label {
  align-self: center;
  font-weight: bold;
}

.panel input {
  border: 1px solid;
}

#authorizationSection {
  grid-template:
    "authorizationHeader authorizationHeader authorizationHeader authorizationHeader"
    "clientIDLabel clientIDInput clientIDInput clientIDInput"
    "redirectURILabel redirectURIInput redirectURIInput redirectURIInput"
    "authCodeLabel authCodeInput authCodeInput authCodeInput"
    ". getAuthCodeButton getTokenButton refreshTokenButton"
    / max-content auto auto auto;
}

#authorizationHeader {
  grid-area: authorizationHeader;
}

#clientIDLabel {
  grid-area: clientIDLabel;
}

#clientIDInput {
  grid-area: clientIDInput;
}

#redirectURILabel {
  grid-area: redirectURILabel;
}

#redirectURIInput {
  grid-area: redirectURIInput;
}

#authCodeLabel {
  grid-area: authCodeLabel;
}

#authCodeInput {
  grid-area: authCodeInput;
}

#getAuthCodeButton {
  grid-area: getAuthCodeButton;
}

#getTokenButton {
  grid-area: getTokenButton;
}

#refreshTokenButton {
  grid-area: refreshTokenButton;
}

#listLabelsDiv {
  margin: 0 -.5em;
  border-bottom: 1px solid;
  padding: 0 .5em;
  grid-template:
    "callLabel callLabel callLabel callLabel . putLabel putLabel putLabel putLabel"
    "callVertExpLabel callDeltaLabel callBidLabel callAskLabel strikeLable putBidLabel putAskLabel putDeltaLabel putVertExpLabel"
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#listSection > label {
  font-weight: bold;
}

.numeric {
  text-align: right;
}

.strike {
  text-align: center;
}

#strikeLable {
  grid-area: strikeLable;
  text-align: center;
}

.labelGroup {
  grid-area: callLabel;
  border-bottom: 1px solid;
  text-align: center;
  align-self: center;
}

#callLabel {
  grid-area: callLabel;
}

#callBidLabel {
  grid-area: callBidLabel;
}

#callAskLabel {
  grid-area: callAskLabel;
}

#callDeltaLabel {
  grid-area: callDeltaLabel;
}

#callVertExpLabel {
  grid-area: callVertExpLabel;
}

#putLabel {
  grid-area: putLabel;
}

#putBidLabel {
  grid-area: putBidLabel;
}

#putAskLabel {
  grid-area: putAskLabel;
}

#putDeltaLabel {
  grid-area: putDeltaLabel;
}

#putVertExpLabel {
  grid-area: putVertExpLabel;
}

.listRow {
  margin: 0 -.5em;
  border-bottom: 1px solid;
  padding: 0 .5em .25em .5em;
  grid-template:
    "symbolLablel lastLabel last volmLable volm . . . ."
    "callVertExp callDelta callBid callAsk strike putBid putAsk putDelta putVertExp"
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.listRow label.symbol {
  grid-area: symbolLablel;
}

.listRow label.last {
  grid-area: lastLabel;
}

.listRow .listItem.last {
  grid-area: last;
}

.listRow label.volm {
  grid-area: volmLable;
}

.listRow .listItem.volm {
  grid-area: volm;
}

.listRow .listItem.callVertExp {
  grid-area: callVertExp;
}

.listRow .listItem.callDelta {
  grid-area: callDelta;
}

.listRow .listItem.callBid {
  grid-area: callBid;
}

.listRow .listItem.callAsk {
  grid-area: callAsk;
}

.listRow .listItem.strike {
  grid-area: strike;
}

.listRow .listItem.putBid {
  grid-area: putBid;
}

.listRow .listItem.putAsk {
  grid-area: putAsk;
}

.listRow .listItem.putDelta {
  grid-area: putDelta;
}

.listRow .listItem.putVertExp {
  grid-area: putVertExp;
}