.redacted {
/*  background-color: #CCC;
  color: #CCC;
*/}

body {
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  font-size: 1.5em;
  text-align: center;
}

section {
  margin-bottom: 1em;
  border: 1px solid;
  background-color: #DDD;
  font-size: .8em;
}

#authorizationSection {
  display: grid;
  padding-bottom: .5em;
  grid-template:
    "authorizationHeader authorizationHeader authorizationHeader authorizationHeader"
    "clientIDLabel clientIDInput clientIDInput clientIDInput"
    "redirectURILabel redirectURIInput redirectURIInput redirectURIInput"
    "authCodeLabel authCodeInput authCodeInput authCodeInput"
    ". getAuthCodeButton getTokenButton refreshTokenButton"
    / max-content auto;
  grid-gap: .5em;
}

#authorizationHeader {
  grid-area: authorizationHeader;
  margin: 0;
  padding: .2em;
  border-bottom: 1px solid;
  font-size: 1em;
  background-color: #55F;
}

#clientIDLabel {
  grid-area: clientIDLabel;
  margin-left: .4em;
}

#clientIDInput {
  grid-area: clientIDInput;
  margin-right: .4em;
}

#redirectURILabel {
  grid-area: redirectURILabel;
  margin-left: .4em;
}

#redirectURIInput {
  grid-area: redirectURIInput;
  margin-right: .4em;
}

#authCodeLabel {
  grid-area: authCodeLabel;
  margin-left: .4em;
}

#authCodeInput {
  grid-area: authCodeInput;
  margin-right: .4em;
}

#getAuthCodeButton {
  grid-area: getAuthCodeButton;
}

#getTokenButton {
  grid-area: getTokenButton;
}

#refreshTokenButton {
  grid-area: refreshTokenButton;
  margin-right: .4em;
}

#scanSection {
  display: grid;
  padding-bottom: .5em;
  grid-template:
    "scanHeader scanHeader scanHeader scanHeader"
    "scanButton scanButton scanButton scanButton"
    / auto auto auto auto;
  grid-gap: .5em;
}

#scanHeader {
  grid-area: scanHeader;
  margin: 0;
  padding: .2em;
  border-bottom: 1px solid;
  font-size: 1em;
  background-color: #55F;
}

#scanButton {
  grid-area: scanButton;
  margin: 0 .4em;
}